[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-ink"]
	path = themes/hugo-ink
	url = git@github.com:knadh/hugo-ink.git
