
---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card-minimal">
	<a href={href}>
		<h2>{title}</h2>
		<p>{body}</p>
	</a>
</li>
<style>
	.link-card-minimal {
		list-style: none;
		display: flex;
		padding: 1px;
		border: 1px solid #23262d;
		border-radius: 7px;
		margin-bottom: 1rem;
	}
	.link-card-minimal > a {
		width: 100%;
		text-decoration: none;
		line-height: 1.4;
		padding: calc(1.5rem - 1px);
		border-radius: 8px;
		color: #23262d;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
</style>
