---
// https://github.com/fontsource/font-files/tree/3ef0dc8e3b625831a3ce7d586194c718491b7c6f/fonts/google/jetbrains-mono
import "@fontsource/jetbrains-mono/400.css";
import "@fontsource/jetbrains-mono/500.css";
import { slide, ViewTransitions } from 'astro:transitions'
import Link from '../components/Link.astro'
import { SITE_NAME, DESCRIPTION } from '../../src/config'
interface Props {
	title: string;
}

// @ts-ignore - TODO figure otu type safety on this
const { frontmatter } = Astro.props

const isHome = Astro.url.pathname === '/'

const pageTitle = [
	frontmatter.title ? frontmatter.title : undefined,
	isHome ? SITE_NAME : undefined,
].filter(Boolean).join(' | ')

---

<!doctype html>
<html 
	lang="en"
	transition:animate={slide({ duration: '1s' })}
>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={ DESCRIPTION } />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle }</title>

		<ViewTransitions />
	</head>
	<body class={`text-gray-500 dark:text-gray-100 ${ isHome ? 'is-home' : '' }`}>
		<div class="max-w-5xl mx-auto space-y-4 py-16 px-10">
			<main 
				class="max-w-10xl"
			>
				<slot />
			</main>
			
			<footer>
				{ !isHome && (
				
					<Link href="/" icon="mdi:arrow-left"/>
				)}
			</footer>
		</div>
	</body>
</html>
<style is:global>

	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	p {
		margin-bottom: 0.5rem;
	}
	html {
		font-family: "JetBrains Mono", system-ui, sans-serif;
		font-size: 24px;
		line-height: 1.2rem;
		background: #13151a;
		background-size: 224px;
	}

	/* Light mode */
	@media (prefers-color-scheme: light) {
		html {
			background: #fff;
		}
	}
	hr {
		border: 1px solid rgb(var(--accent-dark));
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	/* We want to bump up the font size on touch screens so that tap targets are easier to hit */
	@media (hover: none) {
		html {
			font-size: 18px;
		}

		/* Pad links that are the only child of a paragraph */
		p > a:only-child {
			padding: 0.5rem 0;
			display: inline-block;
		}
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	h1 {
		font-size: 1.4rem;
		font-style: italic;
		font-weight: 600;
		margin-bottom: 0.5rem;
	}
	h2 {
		color: rgb(var(--accent));
		margin-top: 1rem;
		font-size: 1.3rem;
		font-weight: 500;
		margin-bottom: 0.5rem;
	}
	h3 {
		margin-top: 0.5rem;
		font-size: 1.2rem;
		font-weight: 400;
		margin-bottom: 0.5rem;
	}
	a:hover {
		color: rgb(var(--accent)) !important;
		text-decoration: underline;
	}
	a {
		color: rgb(var(--accent-dark));
		text-decoration: none;
	}
	
	ul {
		list-style-type: disc;
		margin-left: 2rem;
	}

	ol {
		list-style-type: decimal;
		margin-left: 2rem;
	}

	li {
		margin-bottom: 0.5rem;
	}
</style>
